<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/mvc 
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--开启controller层的扫描-->
    <context:component-scan base-package="com.feilong">
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>
    <!--配置静态资源不过滤-->
    <mvc:resources mapping="/static/**" location="/static/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>


    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash;&lt;!&ndash;拦截所有controller&ndash;&gt;&ndash;&gt;-->
            <!--<mvc:mapping path="/user/**" />-->
            <!--<mvc:mapping path="/token/**" />-->
            <!--<mvc:mapping path="/customer/**" />-->
            <!--<mvc:mapping path="/admin/**" />-->
            <!--<mvc:mapping path="/apiMapping/**" />-->
            <!--<mvc:mapping path="/apiSysParam/**" />-->
            <!--<mvc:mapping path="/appInfo/**" />-->
            <!--<mvc:mapping path="/image/**" />-->
            <!--<mvc:mapping path="/link/**" />-->
            <!--<mvc:mapping path="/log/**" />-->
            <!--<mvc:mapping path="/navs/**" />-->
            <!--<mvc:mapping path="/news/**" />-->
            <!--<mvc:mapping path="/recharge/**" />-->
            <!--<mvc:mapping path="/send/**" />-->
            <!--&lt;!&ndash;login不拦截&ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/user/login"/>-->
            <!--<bean class="com.feilong.webopen.interceptor.TokenInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!--配置自定义类型转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean  class="com.feilong.webopen.utils.StringToDateConverterUtil"></bean>
            </set>
        </property>
    </bean>

    <!--配置文件解析器对象,要求id名称必须是multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置最大上传文件的大小为10M-->
        <!--<property name="maxUploadSize" value="10485760"></property>-->
        <property name="maxUploadSize" value="1073741824"></property>
    </bean>
    <!--开启Spring对MVC注解的支持-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
</beans>