<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feilong.webopen.mapper.CustomerMapper">

    <resultMap type="com.feilong.webopen.entity.Customer" id="CustomerMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="money" column="money"/>
        <result property="address" column="address"/>
        <result property="state" column="state"/>
    </resultMap>
    <insert id="insertCustomer" parameterType="customer">
        <!--得到新增数据后主键的id值,在执行插入语句后执行-->
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into customer(username,password,nickname,address,money,state) values
        (#{username},#{password},#{nickname},#{address},#{money},#{state})
    </insert>

    <update id="updateCustomer" parameterType="customer">
        update customer set
        <trim suffixOverrides=",">
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname=#{nickname},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="money!=null">
                money=#{money},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteCustomerById" parameterType="int">
        delete from customer
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findCustomerById" parameterType="int" resultType="customer">
        select * from customer where id=#{id}
    </select>

    <select id="findCustomersBySearch" resultMap="CustomerMap" parameterType="customer">
        select * from customer
        <where>
            <if test="state!=null">
                state=#{state}
            </if>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
        </where>
    </select>

</mapper>