<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feilong.webopen.mapper.UserMapper">
    <select id="selectUser" parameterType="String" resultType="user">
        select * from user where  username=#{username} and password=#{password}
    </select>

    <sql id="getUser">
        select  id, username, password, email, sex, state, grade, endtime,userDesc,phone,address,aliasName,birthday
          from user
    </sql>
    <select id="getUserList" resultType="user">
        <include refid="getUser"/>
    </select>

    <select id="findUserByUsername" parameterType="string" resultType="user">
        <include refid="getUser"/>
          where username=#{username}
    </select>

    <insert id="insertUser" parameterType="user">
        insert into user(username, password, email, sex, state, grade, endtime, userDesc)
          values (#{username},#{password},#{email},#{sex},#{state},#{grade},#{endtime},#{userDesc})
    </insert>

    <update id="updateUserById" parameterType="user">
        update user set
        <trim suffixOverrides=",">
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="grade!=null">
                grade=#{grade},
            </if>
            <if test="endtime!=null">
                endtime=#{endtime},
            </if>
            <if test="userDesc!=null and userDesc!=''">
                userDesc=#{userDesc},
            </if>
        </trim>
       where id = #{id}
    </update>

    <delete id="deleteUserByIds" parameterType="int">
        delete from user
         where id in
          <foreach collection="array" item="id" open="(" separator="," close=")">
              #{id}
          </foreach>
    </delete>
</mapper>